.avatar{
    width: 75%;
    height: 75%;
    border-radius: 50%;
    position: relative;
    /* margin-left: 100%; */
}

.avatar:hover{
    cursor: pointer;
}

.avatarBox{
    margin-top: 50%;
}

.tabBox{
    padding-top: 7.5%;
    margin-right: 20%;
}

.wordBox{
    margin-top: 75%;
    font-size: 200%;
    padding-left: 10%;
}

.wordBox-fadeOut{
    margin-top: 75%;
    font-size: 200%;
    padding-left: 10%;
    animation: fadeout-anim 2s linear forwards;
}

@keyframes fadeout-anim {
	100% {
		opacity: 0;
	}
}

.navbar{
    
}

.scolling-active .navbar{
    background-color: black;
}