.avatar{
    width: 75%;
    height: 75%;
    border-radius: 50%;
    position: relative;
    top: 6vh;
}

.avatar:hover{
    cursor: pointer;
}



.tabBox{
    position: relative;
    top: 8vh;
    margin-right: 20%;
    
}

.wordBox{
    width: 7vw;
    position: relative;
    top: 8vh;
    font-size: 2vw;
    padding-left: 1vw;
}

.wordBox-fadeOut{
    width: 7vw;
    position: relative;
    top: 8vh;
    font-size: 2vw;
    padding-left: 1vw;
    animation: fadeout-anim 2s linear forwards;
}

@keyframes fadeout-anim {
	100% {
		opacity: 0;
	}
}


@media screen and (max-width:720px) {
    .tabBox{
        display: none;
    }

    .avatar{
        width: 120%;
        height: 120%;
        border-radius: 50%;
        position: relative;
        top: 6vh;
        left: -7vw;
    }

    .wordBox{
        width: 12vw;
        position: relative;
        top: 7vh;
        font-size: 3vw;
        padding-left: 0vw;
    }
    
    .wordBox-fadeOut{
        width: 12vw;
        position: relative;
        top: 7vh;
        font-size: 3vw;
        padding-left: 0vw;
        animation: fadeout-anim 2s linear forwards;
    }
}

