.leftBannerDiv{
    position: sticky;
    width: 5vw;
    height: auto;
    top: 85vh;
    z-index: 1;
}

.SnsIconsSvg{
    width: 1.8vw;
    left: 1vw;
    /* top: 86vh; */
    position: relative;
    cursor: pointer;
}

.SnsIconsSvg:hover{
    fill:url(#gradient-horizontal);
}

#gradient-horizontal {
    --color-stop-1: #9446fa;
    --color-stop-2: #c162f5;
    --color-stop-3: #f5976e;
}

/* @media screen and (max-width:720px) {
    .SnsIconsSvg{
        width: 25px;
        height: 25px;
        left: 1vw;
        top: 88vh;
        position: relative;
        cursor: pointer;
    }
} */