.noteSideBarRightDiv{
  position: fixed;
  width: 28vw;
  height: 100vh;
  left: 72vw;
  border: 1px solid rgb(224,224,224);
}

.searchDiv{
  position: relative;
  width: 30vw;
  height: 20vh;
  padding-top: 20vh;
}

.searchInput{
  padding-left: 10%;
}

.statistics{
  position: relative;
  padding-top: 8%;
}

.notesNumber{
  font-size: 2vw;
  font-weight: bold;
  padding-left: 20%;
}

.likesNumber{
  font-size: 2vw;
  font-weight: bold;
  padding-left: 20%;
}

.notesNumberText{
  font-size: 1vw;
  padding-left: 22%;
  color: gray;
}

.likesNumberText{
  font-size: 1vw;
  padding-left: 25%;
  color: gray;
}

.divider{
  position: relative;
  width: 22vw;
  border-top: 1px solid rgb(224,224,224);
}

.topicTitle{
  position: relative;
  padding-top: 5%;
}

.topicText{
  position: relative;
  padding-left: 10%;
  font-size: 1.1vw;
  font-weight: 500;
}

.topics{
  position: relative;
  width: 20vw;
  height: auto;
  margin-left: 10%;
  margin-top: 3%;
}

.topicButton{
  position: relative;
  border: none;
  font-size: 0.8vw;
  border-radius: 25px;
  background-color: rgb(239, 239, 239);
  padding-left: 0.9vw;
  padding-right: 0.9vw;
  padding-top: 0.4vw;
  padding-bottom: 0.4vw;
  cursor: pointer;
  margin-left: 2%;
  margin-top: 3.5%;
  transition: 0.5s;
}

.topicButton:hover{
  background-color: rgb(215, 215, 215);
}
