.portfolioDiv{
  width: 100vw;
  /* title + arrow + first + second */
  height: 220vh;
  position: relative;
}

.firstPartDiv{
  width: 100vw;
  height: 90vh;
  position: relative;
}

.title{
  width: 30vw;
  height: auto;
  font-size: 6vw;
  font-family: Comic Sans MS;
  font-weight: bold;
  position: relative;
  top: 10vh;
  left: 40%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.arrowSvg{
  width: 10vw;
  height: auto;
  position: absolute;
  left: 75vw;
  transform: scaleX(-1)
}


.acnLogo{
  position: absolute;
  width: 20vw;
  height: auto;
  top: 3vw;
  left: 15vw;
  font-size: 20vw;
  cursor: pointer;
  color: black;
  opacity: 0;
  text-shadow: 10px 10px 10px gray;
}

@keyframes move{
  0%{
    transform: translateX(-15vw);
    color: black;
  }
  100%{
    transform: translateX(0);
    color: blueviolet;
  }
}

.acnLogo-active{
  position: absolute;
  width: 20vw;
  height: auto;
  top: 3vw;
  left: 15vw;
  font-size: 20vw;
  cursor: pointer;
  color: blueviolet;
  animation: move 2s;
  opacity: 1;
}



.float-div{
  position: absolute;
  top: 20vw;
  opacity: 0.3;
  float: right;
  flex: auto;
}

.float-objects{
  width: 100vw;
  height: auto;
}



@keyframes float1 {
  0%{transform: translate(0, 0)}
  50%{transform: translate(-10px, 0)}
  100%{transform: translate(0, 0)}
}

.triangle-float1 {
  animation: float1 5s infinite;
}

@keyframes float2 {
  0%{transform: translate(0, 0)}
  50%{transform: translate(-5px, -5px)}
  100%{transform: translate(0, 0)}
}

.triangle-float2 {
  animation: float2 4s infinite;
}

@keyframes float3 {
  0%{transform: translate(0, 0)}
  50%{transform: translate(0, -10px)}
  100%{transform: translate(0, 0)}
}

.triangle-float3 {
  animation: float3 6s infinite;
}

.portfolio1div{
  width: 50vw;
  height: auto;
  position: absolute;
  top: 3vw;
  right: 10vw;
  float: right;
}

.portfolioNumber{
  font-size: 3vw;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.portfolio1text{
  font-size: 1.5vw;
  font-weight: bold;
}

.gearDiv1{
  width: 10vw;
  height: auto;
  position: absolute;
  top: 73vh;
  left: 12.5vw;
}

.gearDiv2{
  width: 10vw;
  height: auto;
  position: absolute;
  top: 60vh;
  left: 24.5vw;
}

.gearSvg{
  width: 5vw;
  height: auto;
  position: absolute;
  z-index: 0;
}

.gearSvg-active{
  width: 5vw;
  height: auto;
  position: absolute;
  animation: spin 5s infinite linear;
  transform-origin: 50% 50%;
  display: inline-block;
}

.gearPath-active{
  animation: fillColor 1.5s linear infinite alternate;
}


@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.databaseDiv{
  width: 10vw;
  height: auto;
  position: absolute;
  top: 60vh;
  left: 16vw;
  z-index: -1;
}

.databaseSvg{
  position: absolute;
  z-index: -1;
}

.databasePath1-active{
  animation: fillColor 1.5s linear infinite alternate;
}

.databasePath2-active{
  animation: fillColor 1.5s linear infinite alternate;
  animation-delay: 0.5s;
}

.databasePath3-active{
  animation: fillColor 1.5s linear infinite alternate;
  animation-delay: 1s;
}

.databasePath4-active{
  animation: fillColor 1.5s linear infinite alternate;
  animation-delay: 1.5s;
}

@keyframes fillColor {
  0% {
    fill:#444;
  }
  100% {
    fill:violet;
  }
  0% {
    fill:#444;
  }
}

.highlight{
  position: relative;
}

.highlight:before{
  position: absolute;
  content: '';
  z-index: -1;
  top: -2px;
  left: -5px;
  right: -5px;
  bottom: -2px;
  /* background-color: #7eec99; */
  background-color: violet;
  transform-origin: 0;
  transition: transform 3.5s ease;
  transform: scaleX(0);
}

.in-view .highlight:before{
  transform: scaleX(1);
  cursor: pointer;
}


.secondPartDiv{
  position: relative;
  width: 100vw;
  height: 90vh;
}

.rakuDiv{
  position: absolute;
  top: 5vw;
  width: 15vw;
  height: auto;
  left: 70vw;
}


@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}


.rakuCss {
  font-variation-settings: "wght" 100, "ital" 1;
  text-shadow: 10px 10px 10px gray;
  font-family: Geneva;
  -webkit-text-stroke: 4px #DC143C;
  cursor: pointer;
  transition: all 0.5s;
  font-size: 14vw;
  /* color: transparent; */
  color: #DC143C;
}


@keyframes shadows{
  0%{
    font-variation-settings: "wght" 100, "ital" 1;
    text-shadow: 10px 10px 10px gray;
    /* font-family: Geneva; */
    -webkit-text-stroke: 4px #DC143C;
    cursor: pointer;
    color: #DC143C;
  }
  100%{
    -webkit-text-stroke: 4px #DC143C;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: 14vw;
    color: transparent;
    font-family: "Meta", sans-serif;
    text-shadow: 10px 10px 0px #07bccc,
      15px 15px 0px #e601c0,
      20px 20px 0px #e9019a,
      25px 25px 0px #f40468,
      40px 40px 10px #482896;
  }
}

.rakuCss-active{
  transition: all 0.5s;
  -webkit-text-stroke: 4px #DC143C;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 14vw;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc,
    15px 15px 0px #e601c0,
    20px 20px 0px #e9019a,
    25px 25px 0px #f40468,
    40px 40px 10px #482896;
  cursor: pointer;
  animation: shadows 2s;
}


.coinCss{
  position: absolute;
  width: 7vw;
  height: auto;
  top:35vw;
  left: 82vw;
  opacity: 0.5;
}

.coinCss-active{
  position: absolute;
  width: 7vw;
  height: auto;
  top:35vw;
  left: 82vw;
  animation: coin-disappear 2s infinite;
  animation-delay: 1.5s;
}

@keyframes coin-disappear{
  0%{
    opacity: 1;
    transform: translateY(0);
  }
  100%{
    opacity: 0;
    transform: translateY(-5vw);
  }
}

.surveyCss{
  position: absolute;
  width: 12vw;
  height: auto;
  top: 30vw;
  left: 65vw;
}

#gradient-horizontal2 {
  --color-stop-1: #e06161;
  --color-stop-2: #fd1da9;
  --color-stop-3: #fc8545;
}

.surveySvg{
  position: relative;
  width: 12vw;
  height: auto;
  fill:url(#gradient-horizontal2);
}

.surveyPen-active{
  animation: vibrate 0.75s infinite ease-in-out;
  animation-delay: 1.5s;
}

@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}


.portfolio2div{
  width: 50vw;
  height: auto;
  position: absolute;
  top: 5vw;
  left: 12vw;
}

.highlight2{
  position: relative;
}

.highlight2:before{
  position: absolute;
  content: '';
  z-index: -1;
  top: -2px;
  left: -5px;
  right: -5px;
  bottom: -2px;
  /* background-color: #7eec99; */
  background-color: #DB7093;
  transform-origin: 0;
  transition: transform 3.5s ease;
  transform: scaleX(0);
}

.in-view .highlight2:before{
  transform: scaleX(1);
  cursor: pointer;
}