.portfolioDiv{
  width: 100vw;
  height: 120vh;
  position: absolute;
  border: 3px black solid;
  top: 200vh;
}

.title{
  width: 10vw;
  height: auto;
  font-size: 8vh;
  font-family: Comic Sans MS;
  font-weight: bold;
  position: relative;
  top: 10vh;
  left: 40%;
}

.arrowSvg{
  width: 10vw;
  height: auto;
  position: relative;
  left: 75%;
  transform: scaleX(-1)
}

.arrowPath {
  stroke-dasharray: 233.89927673339844;
  stroke-dashoffset: 233.89927673339844;
  /* animation: dash 5s linear alternate infinite; */
}

.acnLogo{
  position: relative;
  width: 20vw;
  height: auto;
  margin-left: -10vw;
  padding-left: 20vw;
  font-size: 20vw;
  cursor: pointer;
  transition: all 2s ease;
  /* border: 1px orange solid; */
  z-index: 1;
}

.acnLogo:hover{
  transform: translateX(35%);
  color: blueviolet;
}

.float-div{
  position: relative;
  top: -63vw;
  opacity: 0.3;
  float: right;
  flex: auto;
}

.float-objects{
  width: 120vw;
  height: auto;
}



@keyframes float1 {
  0%{transform: translate(0, 0)}
  50%{transform: translate(-10px, 0)}
  100%{transform: translate(0, 0)}
}

.triangle-float1 {
  animation: float1 5s infinite;
}

@keyframes float2 {
  0%{transform: translate(0, 0)}
  50%{transform: translate(-5px, -5px)}
  100%{transform: translate(0, 0)}
}

.triangle-float2 {
  animation: float2 4s infinite;
}

@keyframes float3 {
  0%{transform: translate(0, 0)}
  50%{transform: translate(0, -10px)}
  100%{transform: translate(0, 0)}
}

.triangle-float3 {
  animation: float3 6s infinite;
}

.portfolio1div{
  width: 50vw;
  height: auto;
  border: 1px black solid;
  position: relative;
  top: -42vw;
  right: 10vw;
  float: right;
}

.portfolioNumber{
  font-size: 3vw;
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.portfolio1text{
  font-size: 1.5vw;
  font-weight: bold;
}

.gearDiv1{
  position: relative;
  top: 20vh;
  left: 12.5vw;
}

.gearDiv2{
  position: relative;
  top: -0.5vh;
  left: 24.5vw;
}

.gearSvg{
  width: 5vw;
  height: auto;
  position: relative;
  z-index: 1;
}

.gearSvg-active{
  width: 5vw;
  height: auto;
  position: relative;
  animation: spin 5s infinite linear;
  transform-origin: 50% 50%;
  display: inline-block;
}

.gearPath-active{
  animation: fillColor 1.5s linear infinite alternate;
}


@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}

.databaseDiv{
  position: relative;
  top: -12vh;
  left: 16vw;
  z-index: -1;
}

.databaseSvg{
  position: relative;
  z-index: -1;
}

.databasePath1-active{
  animation: fillColor 1.5s linear infinite alternate;
}

.databasePath2-active{
  animation: fillColor 1.5s linear infinite alternate;
  animation-delay: 0.5s;
}

.databasePath3-active{
  animation: fillColor 1.5s linear infinite alternate;
  animation-delay: 1s;
}

.databasePath4-active{
  animation: fillColor 1.5s linear infinite alternate;
  animation-delay: 1.5s;
}

@keyframes fillColor {
  0% {
    fill:#444;
  }
  100% {
    /* fill:mediumseagreen; */
    fill:violet;
  }
  0% {
    fill:#444;
  }
}
